body {
	background-color: #FAFAFA;
	font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, sans-serif;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

html, body {
	width: 100%;
	height: 100%
	
}

html {
	font-size: 16px;
	-webkit-overflow-scrolling: touch;
	scroll-behavior: smooth;
}

* {
	margin:0;
	padding:0;
}

img {
	max-width: 100%;
	height:auto;
}

a {
	text-decoration: none;
}

.clearfix{
	clear:both;
}

/* TEXT STYLES ============================== */

.light-grey-text {
	color: #5C6371;
}

.dark-grey-text {
	color: #333333;
}

.blue-text {
	color: #49A2FF;
}

.bold-text {
	font-weight: 600;
}

.right-text {
	float: right;
}

.dribbble-link {
	color:#ea4c89;
}

.dribbble-link:hover {
	color:#49A2FF;
}

.dribbble:hover {
	color:#ea4c89;
}

.shot-caption {
	font-size: .75rem;
	color: #949CAD;
	text-align: left;
	margin-top: .5rem;
}

.line-break {

}

/* MISC STYLES ================================== */

.container {
	max-width: 816px;
	margin: 0 auto;
	padding: 0 10% 0 10%;
	overflow: hidden;
}

.transition {
	display: none;
}

.selected-link {
	color: #49A2FF;
	padding: 4px 6px;
}

.selected-link:hover {
	cursor: pointer;
	color: #49A2FF;
	background: rgba(73,162,255,0.14);
	border-radius: 4px;	
	padding: 4px 6px;
}

.unselected-link {
	padding: 4px 6px;
}


.unselected-link:hover {
	cursor: pointer;
	background: rgba(73,162,255,0.14);
	border-radius: 4px;
	color: #49A2FF;	
}

/* ABOUT PAGE =================================================================== */

	/* HEADER ================================= */
	.header-container {
		padding-top: 2rem;
	}

	.flex-container-nav-links {
		padding-top: 1rem;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}
	
	.nav-link {
		font-size: .75rem;
		font-weight: 500;
		margin-left: 1.25rem;
	}
	
	.name-container {
		padding-top: 2rem;
	}
	
	#name {
		font-size: 1.75rem;
		line-height: 1.925rem;
	}
	
	.title-container {
		padding-top: 2rem;
	}
	
	#job-title {
		font-size: 2.5rem;
		line-height: 2.75rem;
	}
	
	#ampersand {
		font-size: 2.5rem;
	}
	
	/* BIO ================================= */
	
	.bio-container {
		padding-top: 3rem;
	}
	
	.description-text {
		font-size: 1rem;
		line-height: 1.5rem;
		max-width: 610px;
	}
	
	.flex-container-contact-links {
		padding-top: 4rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.personal-link {
		font-size: .75rem;
	}
	
	.personal-link:hover {
		cursor: pointer;
	}

	.dribbble:hover {
		color:#ea4c89;
	}

	.email:hover {
		color: #49A2FF;
	}

	.linkedin:hover {
		color:#0A66C2;
	}
	
	/* FOOTER ==================  */
	
	.footer-container {
		padding-bottom: 2rem;
	}
	
	.footer-text {
		margin-top:2rem;
		margin-bottom: .5rem;
		font-size: .5rem;
		color: #A5ABB6;
	}
	
	.copyright-text {
		font-size: .4rem;
		color: #A5ABB6;
	}
	
/* END ABOUT PAGE ================================================================ */

/* WORK STUFF =============================================================== */

	/* MISC STYLES ================================= */
	
	.case-studies-container {
 		padding-top: 4rem;
 	}

	.illustration-space {
		margin-top: 2rem;
	}
	
	.portfolio-section-header {
		font-size: 1.5rem;
		display: inline-block;
	}
	
	.grid-container-ui-icons {
		display: grid;
		grid-template-columns: auto;
		grid-gap: 16px;
	}
	
	/* ILLUSTRATION DESIGN =============================== */
	
	.illustration-design-container {
		padding-top: 2rem;
	}
	
	.grid-container-illustration-design {
		display: grid;
		grid-template-columns: auto;
		grid-gap: 16px;
		align-items: start;
	}
	
	.illustration-design-item {
		box-shadow: 0 1px 2px 0 rgba(147,164,180,0.20);
	}

/* END WORK STUFF =============================================================== */


/* UX ========================================================= */

	
	.ux-grid-container {
		margin-top: 1rem;
		display: grid;
	}
	
	.ux-header {
		margin-bottom: .5rem;
		font-size:1.15rem;
	}
	
	.chalk-project {
		transition: .2s ease-in-out;
	}
	
	.chalk-project:hover {
		opacity: .6;
		cursor: pointer;
	}
	
	#chalksmall {
		width: 100%
		margin-top: 1rem;
		border-radius: 4px;
		margin-bottom: 2rem;
	}
	
	#chalklarge {
		display:none;
	}

	.experts-project {
		transition: .2s ease-in-out;
	}
	
	.experts-project:hover {
		opacity: .6;
		cursor: pointer;
	}
	
	#expertssmall {
		width: 100%
		margin-top: 1rem;
		border-radius: 4px;
		margin-bottom: 2rem;
	}
	
	#expertslarge {
		display:none;
	}

	
	#slapdashsmall {
		width: 100%
		margin-top: 1rem;
		border-radius: 4px;
		margin-bottom: 2rem;
	}
	
	#slapdashlarge {
		display:none;
	}
	
	.slapdash-project {
		transition: .2s ease-in-out;
	}
	
	.slapdash-project:hover {
		opacity: .6;
		cursor: pointer;
	}

	.joro-project {
		transition: .2s ease-in-out;
	}
	
	.joro-project:hover {
		opacity: .6;
		cursor: pointer;
	}
	#jorosmall {
		width: 100%
		margin-top: 1rem;
		border-radius: 4px;
		margin-bottom: 2rem;
	}
	
	#jorolarge {
		display:none;
	}

	.carabiner-project {
		transition: .2s ease-in-out;
	}
	
	.carabiner-project:hover {
		opacity: .6;
		cursor: pointer;
	}
	#carabinersmall {
		width: 100%
		margin-top: 1rem;
		border-radius: 4px;
		margin-bottom: 2rem;
	}
	
	#carabinerlarge {
		display:none;
	}



/* End UX  ==================================================*/


/* Case Study Page ========================================== */

	.body-text {
		font-size: 16px;
		line-height: 24px;
		max-width: 560px;
	}
	
	.case-study-container {
		margin-top: 2rem;
	}

	.case-study-text-flex {
		display: flex;
		justify-content: center;
	}
	
	.case-study-body-container-center{
		text-align: left;
		max-width: 560px;
	}

	.case-study-image {
		width: 100%;
		margin-top: .5rem;
		border-radius: 4px;
	}

	.caption {
		font-size: .75rem;
		color: #949CAD;
		text-align: center;
		margin-bottom: .25rem;
	}
	
	.case-study-h1 {
		font-size: 1.2rem;
		margin-bottom: .5em;
	}

	.case-study-h2 {	
		text-align: left;
		font-size: 1.2rem;
		margin-top: 1rem;
		margin-bottom:.5rem;
	}
	
	.case-study-body {
		text-align: left;
		display: inline-block;
		margin-bottom: .5rem;
	}

	.prototype-link {
		text-decoration: underline;
	}



/* End Case Study Page ==================================== */


/* MEDIA QUERIES =================================== */

	/* GRID CHANGES========================= */
	
		@media only screen and (min-width:501px) {

			.flex-container-contact-links {
				justify-content: start;
			}
			
			.personal-link {
				margin-right: 2rem;
			}
			
			.grid-container-ui-icons, .grid-container-ui-icons-extra, .grid-container-illustration-design, .grid-container-illustration-design-extra {
				grid-template-columns: auto auto;
				max-width: 816px;
			}
			
			#chalksmall {
				display: none;
			}
		
			#chalklarge {
				display: inline-block;
				width: 100%;
				border-radius: 4px;
				margin-bottom: 2rem;
			}

			#expertssmall {
				display: none;
			}
		
			#expertslarge {
				display: inline-block;
				width: 100%;
				border-radius: 4px;
				margin-bottom: 2rem;
			}
			
			#slapdashsmall {
				display: none;
			}
		
			#slapdashlarge {
				display: inline-block;
				width: 100%;
				border-radius: 4px;
				margin-bottom: 2rem;
			}

			#jorosmall {
				display: none;
			}
		
			#jorolarge {
				display: inline-block;
				width: 100%;
				border-radius: 4px;
				margin-bottom: 2rem;
			}

			#carabinersmall {
				display: none;
			}
		
			#carabinerlarge {
				display: inline-block;
				width: 100%;
				border-radius: 4px;
				margin-bottom: 2rem;
			}
			
		}

	/* 	TOP SECTION ===================== */
	
	@media only screen and (min-width: 722px) {
		html {
			font-size: 24px;
		}
		
		.nav-link {
			font-size: .65rem;
		}
		
		#name {
			font-size: 1.75rem;
			line-height: 1.925rem;
		}
		
		#job-title {
			font-size: 2.5rem;
			line-height: 3rem;
		}	
		
		#ampersand {
			font-size:2.5rem;
			/*margin-left: 2rem;*/
		}
		
		#body-text {
			max-width: 610px;
		}

		.description-text {
			font-size: .875rem;
		}
		
		.more-dropdown-container-illustration {
			padding: 0;
		}
		
		.more-dropdown-container-ui {
			padding: 0;
		}
		
		.dropdown-arrow {
			width: 16px;
			padding-left: .25rem;
			padding-bottom: 2px;
		}
		
		.more-dropdown {
			font-size: .75rem;
			display: inline-block;
		}

		.case-study-h2 {	
			font-size: .9rem;
		}
		
			
	}